name: {{ project_name }}
rootdir: {{ project_rootdir }}
links:
classpaths:
  - kind: con
    path: org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.4
  - kind: output
    path: bin
  - kind: src
    path: src
  - kind: lib
    path: {{ project_rootdir }}/build/{{ build_target }}/jvmbtclasses.zip
  - kind: lib
    path: {{ project_rootdir }}/build/{{ build_target }}/classes.zip
  - kind: lib
    path: {{ project_rootdir }}//build/{{ build_target }}/btclasses.zip
  - kind: lib
    path: {{ project_rootdir }}/build/{{ build_target }}/classes

